body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .categoriesDiv {
    overflow: hidden;
    background-color: #418c46;
  }
  
  .categoriesDiv a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .categoriesDiv a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .categoriesDiv a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .categoriesDiv .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .categoriesDiv a:not(:first-child) {display: none;}
    .categoriesDiv a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .categoriesDiv.responsive {position: relative;}
    .categoriesDiv.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .categoriesDiv.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  #recipesImage{
      width: 210px;
      height: 210px;
      float:clear;
  }
  
    .recipesUl{
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: space-between;
       list-style: none;
       text-decoration: none;
   }

   .addToCart {
    background-color: #418c46;
    margin-left: 40px;
    padding: 4px;
    color: white;
   }